# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
env/
.env
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Archivos de la base de datos de test
examples/*.db

# Entorno de trabajo
.vscode/
.idea/
.DS_Store

